<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438745673479-bu0564iaqqipa09rhcna9cocf8qvojus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438745673479-bu0564iaqqipa09rhcna9cocf8qvojus</string>
	<key>API_KEY</key>
	<string>AIzaSyDwYqpnEscu4u24huNPIQhFwU7dCmaWtBE</string>
	<key>GCM_SENDER_ID</key>
	<string>438745673479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.widdyjp.theMovies</string>
	<key>PROJECT_ID</key>
	<string>the-movies-f68a4</string>
	<key>STORAGE_BUCKET</key>
	<string>the-movies-f68a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438745673479:ios:a1f33a941fdf718ee45fa2</string>
</dict>
</plist>